body, html {
  margin: 0;
  padding: 0;
  background-color: #279aff; /* Match the blue background */
  height: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: #279aff; /* Ensure the same blue background */
  min-height: 100vh;
  border: none; /* Remove any border */
}